/* 

Project Name: Mya's Birthday 
Client: Lourdesmia
Developed: @amiralda

*/

html {
	/* set up a background image */
	background-color: rgb(177, 173, 173);
	background: url('../images/happybirthday7.png') no-repeat;


	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	/* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

/* div {
	display: grid;
	justify-content: center;
	align-items: center;

} */

h1 {
	font-size: 70px;
}

h2 {
	width: fit-content;
	padding: 5px;
	color: rgb(250, 248, 248);
}

h3 {
	color: #35C0F2;
	background: rgba(42, 41, 41, 0.411);
	width: fit-content;
	padding: 5px;
	border-radius: 10px;
}

a {
	color: #35C0F2;
	text-decoration: none;
}

button {
	background: rgba(0, 0, 0, 0.223);
	color: #35C0F2;
	margin-top: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

button:hover {
	background: #e9eaea;
	color: rgb(196, 25, 25);
}


#container {
	background: rgba(79, 75, 96, 0.753);
	width: 440px;
	color: rgb(246, 245, 245);
	padding: 15px;
	text-align: justify;
}

@media screen and (max-width: 769px) {
	#container {
		height: auto;
		width: 100%;
		padding: auto;
	}
}